body{
margin: 0;
background: url("bg1.png");
font-family: "work sans" , sans-serif;
font-weight: 300;
max-width: 100%;
}
.container{
width: 80%;
}
/* style*/
#parent{position: relative;}
header{
  background: #fff ;
  border-radius: 0 0 100% 100%;
  display:flex;
  position: absolute;
width: 100%;
position: fixed;
z-index:100;
}
header::after{
  content: '';
  display: table;
  clear: both;
}
.logo{
  margin-left: 20px;
  vertical-align: middle;
}
nav{
  float: right;
}
nav ul{
margin: 0;
padding: 0;
list-style: none;
}
nav li{
  display: inline-block;
  padding-top: 20px;
  position: relative;
  left: 30%;

}
nav a{
  color:#365e87;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

}
nav a:hover{
  color: #0E2A47;
}
nav a::before{
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #0E2A47;
  position: absolute;
  top:0;
  width: 0%;
  transition: all ease-in-out 250ms ;
}
nav a:hover::before{
  width: 100%;
}

.wrapper{
  background-color:#0E2A47;
  height: 30vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper h1{
  color: #fff;
  font-family: 'Parisienne', cursive;
  font-size: 300%;
}
.loginbox{
width:320px;
height: 420px;
background-color:#0b2239;
 top: 10vh;
left: 40%;
position: relative;
transform: translate(-50,-50);
box-sizing: border-box;
padding: 70px 30px;
border-radius: 30px;
}
.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
top: -50px;
left: calc(50%-60px);
margin-left: 25%;
}
.loginbox h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  color:#fff;
}
.loginbox p{
margin: 0;
padding: 0;
font-weight: bold;
color: #fff;
}
.loginbox input{
  margin-bottom:20px;
  width: 100%;
}
.loginbox input[type="text"], input[type="password"]{
  border-top: none;
  border-left: none;
  border-right: none;
border-bottom: :1px solid#fff;
background: transparent;
outline: none;
height: 40px;
color: #fff;
font-size: 16px;
}
.loginbox input[type="submit"]{
border: none;
outline: none;
height: 40px;
background:#fff;
color:#0b2239;
font-size: 18px;
border-radius: 20px;
}
.loginbox input[type="submit"]:hover{

  cursor: pointer;
  background: #000;
  color: #fff;
}
.loginbox a{
text-decoration: none;
font-size: 12px;
line-height: 20px;
color: darkgrey;
}
.loginbox a:hover
{
  color:#000;
}
@media screen and (max-width:1800px) {
  
  header{
    font-size: 80%;
    height: 4%;
  }
  
  
  nav li{
    overflow: hidden;
top: 0vh;
left: 30%;
font-size: 100%;
  }
  
  body{
    background-repeat: repeat-y;
  }
  .wrapper h1{
    font-size: fixed;
    
  }
}

 
 @media screen and (max-width:1040px) {

  header{
    font-size: 80%;
    height: 4%;
  }
  
  nav li{
    overflow: hidden;
left: 30%;
font-size: 1.7vh;
top:-4vh;
  }
  
  nav h1{
    font-size: 100000vw;
  }
  .wrapper h1{
    font-size: 250%;
  }
  
}
 @media screen and (max-width:805px) {

  header{
    font-size: .9vh;
    height: 4%;
  }  
  nav li{
    overflow: hidden;
top: -6vh;
left: 25%;
font-size: 1.5vh;
margin: 0;

  }
  .wrapper h1{
    font-size: 195%;
  }
  .loginbox{
    left: 30%;
  }
    
 }
 @media screen and (max-width:655px) {
  header{
    font-size: .9vh;
    height: 4%;
    position: fixed;
  }
  body{
    position: absolute;
  }
  .wrapper{
    position: fixed;
  }
  .wrapper h1{
    font-size: 190.2%;
  }
  nav li{
    overflow: hidden;
top: -7vh;
left: 25%;
font-size: 1.5vh;
position:relative;

  }
  .loginbox{
    top:40vh;
    
  }
  @media screen and (max-width:415px) {
    header{
      font-size: .9vh;
      height: 4%;
      position: fixed;
    }
    
    .wrapper{
      position: fixed;
    }
    .wrapper h1{
      font-size: 115%;
    }
    nav li{
      overflow: hidden;
  top: -8vh;
  left: 25%;
  font-size: 1.1vh;
  position:relative;
  
    }
    .loginbox{
      top:40vh;
      left:10vw;
    }
    .logo{
      width: 8%;
      left: 10vw;
    }
   }
 }
 @media screen and (max-width:404px) {
  header{
    font-size: .7vh;
    height: 4%;
    position: fixed;
  }
  
  .wrapper{
    position: fixed;
  }
  .wrapper h1{
    font-size: 189%;
  }
  nav li{
    overflow: hidden;
top: -7vh;
left: 30%;
font-size: 1.1vh;
position:relative;
  }

  .logo{
    width: 8%;
  }
  .loginbox{
    top:40vh;
    left:10vw;
  }
    
 }
 @media screen and (max-width:376px)and (max-height: 668px) {
  header{
    font-size: .7vh;
    height: 4%;
    position: fixed;
  }
  
  .wrapper{
    position: fixed;
  }
  .wrapper h1{
    font-size: 189%;
  }
  nav li{
    overflow: hidden;
top: -9vh;
left: 30%;
font-size: 1.5vh;
position:relative;
  }

  .logo{
    width: 8%;
  }
  .loginbox{
    top:40vh;
    left:10vw;
  }
    
 }





 
