body{
margin: 0;
background: url("bg1.png") ;
font-family: "work sans" , sans-serif;
font-weight: 300;
max-width: 100%;
}
.container{
width: 80%;

}
/* style*/
#parent{position: relative;}
header{
  background: #fff ;
  border-radius: 0 0 100% 100%;
  display:flex;
  position: absolute;
width: 100%;
position: fixed;
z-index:100;
}
header::after{
  content: '';
  display: table;
  clear: both;
}
.logo{
  margin-left: 20px;
  vertical-align: middle;
}
nav{
  float: right;

}
nav ul{
margin: 0;
padding: 0;
list-style: none;
}
nav li{
  display: inline-block;
  padding-top: 20px;
  position: relative;
  left: 30%;
}
nav a{
  color:#365e87;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

}
nav a:hover{
  color: #0E2A47;
}
nav a::before{
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #0E2A47;
  position: absolute;
  top:0;
  width: 0%;
  transition: all ease-in-out 250ms ;
}
nav a:hover::before{
  width: 100%;
}

.wrapper{
  
  background-color:#0E2A47;
  height: 40vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
display: flow-root;
position: relative;
width: 100%;
}
.wrapper h1{
  overflow: hidden;
  color: #fff;
  font-family: 'Parisienne', cursive;
  position: relative;
  left: 20%;
  top: 10%;
  font-size: 100px;
}
/*end of style */
.searchbox{
width:50%;
position:relative;
top: 2%;
left: 25%;
}
.searchbox input[type="text"]{
  width: 100%;
  padding: 20px;
  padding-right: : 60px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  border:2px solid #fff;
  border-radius: 10px;
  color: #fff;
  outline: none;
  font-size: 100%;
}
::-webkit-input-placeholder{
  color: #fff;
}
::-moz-placeholder{
  color: #fff;
}
::-ms-input-placeholder{
  color: #fff;
}
.fa-search{
  position: absolute;
  top: 50%;
right: 3%;
transform: translateY(-50%);
color: #fff;
font-size: 25px;
}

  .line{
    background:#fff;
    height: 5px;
    width: 100%
  }
  .group{
    width: 100%;
    min-height: 1000px;
    margin: 70px auto 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  .book1{
    position: relative;
    width: 350px;
    height: 500px;
    background: #fff;
    margin: 10px;
    margin-right: 20px;
    box-sizing: border-box;
    display: inline-block;
    border: 5px solid #0b2239;
  }
  .imgbox{
    position: relative;
    overflow: hidden;
  }
 .imgbox img{
width: 100%;
height: 500px;
transition: transform 2s;
 }

 .group .book1:hover .imgbox img
 {
transform: scale(1.2);
 }
 .details{
position: absolute;
top:10px;
left:10px;
bottom: 10px;
right: 10px;
background-color: #0b2239;
opacity: 0.7;
transform: scaleY(0);
transition: transform.5s;
 }
 .group .book1:hover .details {
   transform: scaleY(1);
 }

 .content{
position: absolute;
top: 50%;
transform:translateY(-50%);
text-align: center;
padding: 15px;
color: #fff;
 }
 .content h2
 {
margin: 0;
padding: 0;
font-size: 20px;
color:#fff;
 }
 .content p
 {
   margin: 10px 0 0;
   padding: 0;
 }
 @media screen and (max-width:1800px) {

  header{
    font-size: 80%;
    height: 4%;
  }

  
  .wrapper h1{
  }
  .searchbox{
    top: 50%;
    bottom: 50%;
  }
  nav li{
    overflow: hidden;
top: -2vh;
left: 30%;
font-size: 150%;
  }
  .book1{
    max-width: 25%;
    max-height: 30vh;
    left: 10%;
    right: 50%;
  }
  .book1 img{
    max-width: 100%;
    max-height: 30vh;
  }
  .book1 p{
    font-size: 100%;
  }
  .book1 h2{
    font-size: 100%;
  }
  
}

 
 @media screen and (max-width:972px) {

  header{
    font-size: 80%;
    height: 4%;
  }
  .wrapper{
    position: fixed;

  }

  .wrapper h1{
    font-size: 300%;
  }
  .searchbox{
    top: 50%;
    bottom: 50%;
  }
  nav li{
    overflow: hidden;
top: -7vh;
left: 30%;
  }
  .book1{
    max-width: 25%;
    max-height: 30vh;
    left: 10%;
    right: 50%;
    top: 35vh;
  }
  .book1 img{
    max-width: 100%;
    max-height: 30vh;
  }
  .book1 p{
    font-size: 100%;
  }
  .book1 h2{
    font-size: 100%;
  }
  
}
 @media screen and (max-width:797px) {

  header{
    font-size: 1vh;
    height: 4%;
  }
  
  }
  .wrapper h1{
  }
  .searchbox{
    top: 10%;
    bottom: 50%;
  }
  nav li{
    overflow: hidden;
top: -1vh;
left: 25%;
font-size: 1.5vw;
  }
  .book1{
    max-width: 25%;
    max-height: 20vh;
    left: 10%;
    right: 50%;
  }
  .book1 img{
    max-width: 100%;
    max-height: 20vh;
  }
  .book1 p{
    font-size: 70%;
  }
  .book1 h2{
    font-size: 70%;
  }
}
  
  
    
}
@media screen and (max-width:741px) {

  header{
    font-size: 1.5vw;
    height: 4%;
  }
  .wrapper h1{
  }
  .searchbox{
    top: 50%;
    bottom: 50%;
  }
  nav li{
    overflow: hidden;
top: -3vh;
left: 10%;
font-size: 1.8vw;
  }
  .book1{
    max-width: 25%;
    max-height: 30vh;
    left: 10%;
    right: 50%;
  }
  .book1 img{
    max-width: 100%;
    max-height: 30vh;
  }
  .book1 p{
    font-size: 100%;
  }
  .book1 h2{
    font-size: 100%;
  }
  
}
@media screen and (max-width:571px) {

  header{
    font-size: 1.9vw;
    height: 4%;
  }

  .wrapper h1{
  }
  .searchbox{
    top: 50%;
    bottom: 50%;
  }
  nav li{
    overflow: hidden;
top: -6vh;
left: 30%;
font-size: 2.1;
  }
  .book1{
    max-width: 25%;
    max-height: 30vh;
    left: 10%;
    right: 50%;
  }
  .book1 img{
    max-width: 100%;
    max-height: 30vh;
  }
  .book1 p{
    font-size: 100%;
  }
  .book1 h2{
    font-size: 100%;
  }
  
}
@media screen and (max-width:427px) {

  header{
    font-size: 1.9vw;
    height: 4%;
  }
  
  .wrapper h1{
    font-size: 150%;
;
  }
  .searchbox{
    top: 10%;
    bottom: 50%;
  }
  nav li{
    overflow: hidden;
top: -7vh;
left: 40%;
font-size: 2vw;
margin: -2%;
  }
  .book1{
    max-width: 25%;
    max-height: 30vh;
    left: 10%;
    right: 50%;
  }
  .book1 img{
    max-width: 100%;
    max-height: 30vh;
  }
  .book1 p{
    font-size: 50%;
  }
  .book1 h2{
    font-size: 50%;
  }
  
}


@media screen and (max-width:330px) {

  header{
    font-size: 1.9vw;
    height: 4%;
  }
  
  .wrapper h1{
    font-size: 150%;
;
  }
  .searchbox{
    top: 10%;
    bottom: 50%;
  }
  nav li{
    overflow: hidden;
top: -10vh;
left: 40%;
font-size: 2vw;
margin: -2%;
  }
  .book1{
    max-width: 25%;
    max-height: 30vh;
    left: 10%;
    right: 50%;
  }
  .book1 img{
    max-width: 100%;
    max-height: 30vh;
  }
  .book1 p{
    font-size: 50%;
  }
  .book1 h2{
    font-size: 50%;
  }
  
}



 
